
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  background-color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin: 0;
  color: #444;
  text-align: center;

}

h1 {
  font-family: "Merriweather", serif;
  font-size: 32px;
  
}



.header h1{
  color: #ffe200;
  display: inline;
  position: relative;
  left: 50px;
  
}

.header {
  position: fixed;
  margin: 0 auto;
  text-align: left;
  width: 100%;
  background-color: black;
}
.header img {
  height: 80px;
  width: 80px;
  border-radius: 30px;
}

.header h3{
  list-style-type: none;
  margin: 0px;
  padding: 0 30px;
  display: inline;
  position: relative;
  left: 640px
}

.header a{
  text-decoration: none;
  color: white;
  font-weight: 300;
}

.bigbox {
  
}

.post {
    
}
.post img 
{
    height: 100px;
    width: 100px;
    border-radius: 30px;
}
#binks {
  Width: 120px;
  Height: 250px;
}

#wookie {
  
}
#wookie img{
  Width: 400px;
  height: 200px;
}